.navStyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263238;
    height: 65px
}

.Logo {
    max-height:65px;
    margin:0;
  }
  .userName{
      color: white;
      margin-right:50px;
      font-size: 16px
      /* margin-top:20px */
  }
