.auth-form-container {
  display: flex;
  flex-direction: column;
  .input-containers {
    @media (max-width: 900px) {
      width: 100%;
      margin: 0 auto;
    }
  }
}

// Auth Input Icons
// .fa-user-circle,
// .fa-key,
// .fa-lock {
//   background-color: #355c7d;
//   border-top-left-radius: 5px;
//   border-bottom-left-radius: 5px;
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
//   color: #fff;
//   padding: 14px 7px;
// }

// Sign In and Sign Up Forms
.form-input {
  border: 0.8px solid #737373;
  box-sizing: border-box;
  border-radius: 1px;
  padding: 15px;
  font-size: 1.5rem;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;

  // &::placeholder {
  //   color: black;
  //   opacity: 0.8;
  // }

  @include mediaLg {
    width: 75%;
  }

  @media (max-width: 900px) {
    // position: absolute;
    margin: 0 auto;
    width: 239px;
    height: 38px;
    // left: 69px;
    // top: 184px;

    background: #ffffff;
    border: 0.8px solid #969696;
  }
}

.form-input-phone {
  background-color: #355c7d;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #f2f3f4;
  margin-top: 10px;
  padding: 15.5px 15px 12.5px 5px;
  font-size: 0.8em;
  width: 60%;

  &::placeholder {
    color: $lilia;
    opacity: 0.8;
  }

  @include mediaLg {
    width: 75%;
  }
}

// Login and Signup Error Text
.name-error-text {
  background-color: red;
  border-radius: 5px;
  color: $lilia;
  margin: 5px 0 0 5px;
  padding: 5px;
  position: absolute;
  top: 32%;
  left: 8%;
  width: 250px;
  z-index: 10;
}
