// Find Active Fires Button
.form-btn {
  cursor: pointer;
  position: absolute;
  top: 19.7rem;
  left: 2rem;
  width: 10.9rem;
  height: 3.8rem;
  background: #ffffff;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #251400;
  @include easeOut;

  @media (max-width: $mq-mobile) {
    position: absolute;
    left: 5.33%;
    right: 20px;
    top: 175px;
    bottom: 75.62%;
    background: #ffffff;
    border-radius: 3px;
  }
}

.signup-btn {
  cursor: pointer;
  position: absolute;
  top: 50.1rem;
  left: 16.1rem;
  width: 13.6rem;
  height: 4.8rem;
  background: #ffffff;
  border-radius: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2.9rem;
  line-height: 3.9rem;
  color: #251400;
  @include easeOut;

  @media (max-width: $mq-tablet) {
    position: absolute;
    width: 13.6rem;
    height: 4.7rem;
    left: 12.1rem;
    top: 50rem;
    background: #ffffff;
    border-radius: 3px;
  }

  // &:hover {
  //   color: $accentColor;
  //   background-color: $lilia;
  //   @include easeOut;
  // }
}

// .default-btn {
//   margin-top: 1rem;
//   background-color: $orange;
//   border-radius: 2px;
//   cursor: pointer;
//   color: white;
//   font-size: 1.5rem;
//   width: 119.95px;
//   height: 38px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   align-self: flex-end;
//   border: none;

//   @include easeOut;

//   &:hover {
//     background-color: lighten($orange, 10%);
//     @include easeOut;
//   }

//   // @media (max-width: $mq-tablet) {
//   //   width: 50%;
//   // }
// }
