.checklistContainer {
    height: 100%;
    background: #fafafa;
    .MuiList-root {
      @media (min-device-width: $mq-desktop) {
        margin-top: 1%;
        margin-left: 250px;
      }
      @media (max-device-width: $mq-tablet) {
        margin-top: 7%;
        margin-left: 150px;
      }
      @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        width: 500px;
        margin: 0 auto;
        margin-top: 4%;
      }
    }
}
.MuiTypography-h5 {
    padding: 2% 2% 2%;
    @media (max-device-width: $mq-tablet) {
        padding: 7% 0 2%;
    }
      @media (max-device-width: $mq-mobile) {
        padding: 16% 2% 2%;
    }
}

// .checklistContainer {
//     height: 100%;
//     background: #fafafa;
//     padding: 1% 16% 0;

//     @media (max-device-width: $mq-tablet) {
//         padding: 1% 0 2%;
//     }
//       @media (max-device-width: $mq-mobile) {
//         padding: 1% 0 2%;
//     }
//     @media only screen 
//       and (min-width: 1024px) 
//       and (max-height: 1366px) 
//       and (orientation: portrait) 
//       and (-webkit-min-device-pixel-ratio: 1.5) {
//         // width: 370px;
//         margin: 0 auto;
//         margin-top: 4%;
//       }
// }

// .MuiTypography-h5 {
//     padding: 4% 0 3%;
  
//     @media (max-device-width: $mq-tablet) {
//         padding: 7% 0 2%;
//     }
//       @media (max-device-width: $mq-mobile) {
//         padding: 16% 0 2%;
//     }
// }