.checklist-title {
  margin-top: 5%;
}
.MuiTableSortLabel-icon {
  font-size: 0 !important;
}
.select-all-title:hover {
  color: rgba(0, 0, 0, 0.87) !important;
}
.MuiButtonBase-root:hover {
  color: rgba(0, 0, 0, 0.87) !important;
}