.dashboard-wrapper {
  // display: flex;
  background: #fafafa;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-left: 15%;
  width:100%;
  height:100%;

  @media (max-width: $mq-mobile) {
    padding: 0;
  }

  .map-button{
    padding-top: 6rem;
    margin-left: 1rem;    
    border-radius: 2px;
    cursor: pointer;    
    font-size: 2rem;
    width: 119.95px;
    height: 38px;    
    border: none;
    color:gray;
    
  }
  .save-edit-btn {
    background-color: #fc8d43;
    border-radius: 2px;
    color: white;
    font-size: 1.2rem;
    margin-left: 8px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }  

  .profile-title {
    font-size: 3rem;
    padding: 4rem 0 0 3rem;

    @media (max-width: $mq-mobile) {
      padding: 0;
    }
  }

  h4 {
    // padding: 10px 0px;
    margin: 0;
  }

  .content-wrapper {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 4rem 6rem;

    @media (max-width: $mq-mobile) {
      padding: 1rem 0 0 2rem;
    }

    .is-editing-input {
      background: #ffffff;
      border: 1px solid #bbbbbb;
      box-sizing: border-box;
      border-radius: 2px;
      font-size: 1.8rem;
      padding: 1rem;
    }

    .personal-info {
      width: 80%;
      margin: 3rem;
      padding-bottom: 2rem;
      // border-bottom: 0.5px solid #191a1a;

      @media (max-width: $mq-mobile) {
        width: 98%;
        border: none;
        margin: 0;
      }

      .profile-field-container {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        // justify-content: center;

        .edit-profile-icon {
          margin-left: 8px;
          color: $orange;
        }
      }

      .profile-name {
        font-size: 2.2rem;

        @media (max-width: $mq-mobile) {
          font-size: 2.5rem;
          padding: 0;
        }
      }

      .profile-field {
        font-size: 1.9rem;

        @media (max-width: $mq-mobile) {
          font-size: 1.6rem;
          padding: 0;
        }
      }

      .profile-phone {
        @media (max-width: $mq-mobile) {
          font-size: 1.6rem;
        }
      }

      .notification-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media (max-width: $mq-mobile) {
          display:flex;
          flex-direction: column;

          &:last-child {
            border-bottom: 1px solid grey;
          }
        }


      }
    }

    // LOCATIONS/ADDRESSES
    .locations-info {
      width: 85%;
      border-radius: 8px;
      box-sizing: border-box;      

      @media (max-width: $mq-mobile) {
        width: 80%;
      }

      .table-title {
        font-size: 3rem;
        line-height: 4.5rem;
        display: flex;
        align-items: center;
        padding: 2rem 0 2rem 2rem;

        @media (max-width: $mq-mobile) {
          font-size: 2.5rem;
          padding: 1rem 0 1rem 0;
        }
      }

      .locations-buttons {
        display: flex;
        justify-content: center;
      }
      //add-location-btn to be removed after redesign
      .add-location-btn {
        margin-top: 1rem;
        background-color: $orange;
        border-radius: 2px;
        cursor: pointer;
        color: white;
        font-size: 1.5rem;
        width: 119.95px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-right: 40px;

        @include easeOut;

        &:hover {
          background-color: lighten($orange, 10%);
          @include easeOut;
        }
      }

      .return-to-map-btn {
        margin-top: 1rem;
        background-color: $orange;
        border-radius: 2px;
        cursor: pointer;
        color: white;
        font-size: 1.5rem;
        width: 119.95px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        @include easeOut;

        &:hover {
          background-color: lighten($orange, 10%);
          @include easeOut;
        }
      }

      .locations-table {
        width: 100%;
        display: table;
        margin-left: 2rem;
        margin-bottom: 3rem;

        @media (max-width: $mq-mobile) {
          margin: 0;
        }

        .locations-header {
          font-size: 2.2rem;
          text-align: left;
          

          @media (max-width: $mq-mobile) {
            font-size: 1.6rem;
            
          }
        }

        .alert-header {
          padding: 0.4rem 0 0 0;
          display: flex;
          margin:0;
          

          @media (max-width: $mq-mobile) {
            padding: 1rem 0 0 1.5rem;
          }
          @media (max-width: $mq-tablet) {
            padding: 1.35rem 0 0 1rem;
          }

          .notif-box {
            // width: 25rem;
            margin: 0.5rem 0 0 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: Open Sans;
            font-weight: normal;
            font-style: normal;
            font-weight: normal;
            font-size: 2.2rem;
            line-height: 2.2rem;
            letter-spacing: -0.41px;
            padding: 0 0px;
            box-sizing: border-box;
  
            @media (max-width: $mq-mobile) {
              width: 100%;
              margin: 0;
              font-size: 1.7rem;
              // border-top: 1px solid grey;
              line-height: 1rem;
            }
  
            .checkbox-wrapper {
              position: relative;
              margin: auto 0 auto auto;
              @media (max-width: $mq-mobile) {
                margin-left:0.5rem;
              }       
            }
          }

          p {
            font-size:1rem;

            @media (max-width: $mq-mobile) {
            display: none;
            }
          }
        }

        .table-row {
          font-size: 1.6rem;
          text-align: left;
          vertical-align: middle;

          //   @media (max-width: $mq-mobile) {
          //     width: 95vw;
          //   }

          .icon-container {
            display: flex;
            align-items: center;
            @media (max-device-width: $mq-mobile) {
              margin-top:25px;
          }
          }

          .table-data {
            padding-top: 0.5rem;
            @media (max-width: $mq-mobile) {

              text-align: center;
            }   
          } 

           .notification-field{
              text-align: center;
              
          }
          

          .address-field {
            width: 45%;
            padding-right: 2rem;
            text-align:left;
          }

          .radius-field {
            
          }

          

          .delete-location-btn {
            color: $orange;
            font-size: 3rem;
            cursor: pointer;
            padding: 1rem;
          }
          .edit-profile-icon {
            padding: 0.25rem;
            margin-top: 7px;
            margin-left: 8px;
            color: $orange;
          }
        }
      }
    }
  }

  .fa-plus {
    color: $orange;
    border-radius: 2px;    
    cursor:pointer;
    margin-left: 2rem;
    margin-top: -0.2rem;     
    
  }

  .fa-angle-left{
   margin-left:1rem;
   margin-right:0.5rem;
    
  }
}
