// Map Form Container
.map-form-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media (max-width: $mq-mobile) {
		position: relative;
		left: 1em;
	}

	// Address Input Compass Icon

	//map form text
	.map-form-text {
		color: white;
		font-size: 1.4rem;
		position: absolute;
		top: 98px;
		left: 17px;
		width: 500px;

		@media (max-width: $mq-tablet) {
			position: absolute;
			width: 350px;
			height: 16px;
			left: 20px;
			top: 91px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			// line-height: 2.5rem;
		}
	}

	.signup-form-text {
		color: white;
		font-size: 1.6rem;
		line-height: 2.2rem;
		font-style: normal;
		font-weight: normal;
		position: absolute;
		top: 57.9rem;
		left: 6.6rem;
		width: 40rem;

		@media (max-width: $mq-tablet) {
			position: absolute;
			width: 320px;
			height: 22px;
			left: 29px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			display: flex;
			align-items: center;
			color: #ffffff;
		}
	}

	// Address Input
	.address-input {
		
		

		&::placeholder {
			font-family: "Open Sans";
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 27px;
			display: flex;
			align-items: center;
			color: #a9a9a9;
			padding-left: 17px;
		}

		&::-moz-placeholder {
			line-height: 4.5rem;
		}
	}

	.react-geocoder{
		width: 30rem;
		height: 5.2rem;
		background: #ffffff;
		border-radius: 3px;
		position: absolute;
		top: 128px;
		left: 17px;
		font-style: normal;
		font-weight: normal;
		font-size: 2rem;
		line-height: 2.7rem;
		display: flex;
		align-items: center;
		//padding-left: 1.7rem;
		&::placeholder {
            font-size: 20px;
            line-height: 27px;
            display: flex;
            align-items: center;
            color: #a9a9a9;
            padding-left: 17px;
        }

        &::-moz-placeholder {
            line-height: 4.5rem;
		}
		input{
			width: 30rem;
            font-size: 20px;
            line-height: 27px;
            display: flex;
            align-items: center;
            padding-left: 17px;
		}
		@media (max-width: $mq-mobile) {
			position: absolute;
			width: 297px;
			height: 44px;
			left: 20px;
			top: 118px;
			background: #ffffff;
			border-radius: 3px;
		}

		// @media (max-width: $mq-tablet) {
		// 	position: absolute;
		// 	width: 245px;
		// 	height: 42px;
		// 	left: 20px;
		// 	top: 118px;
		// 	background: #ffffff;
		// 	border-radius: 3px;
		// }
		
	}

	.react-geocoder-results{
		border-top: 0.8px solid #000000;
		background:white;
		width:30rem;
		box-sizing: border-box;
		height:auto;
		top:48px;
		position: absolute;
		padding: 1rem 0.8rem;
		font-size: 1.6rem;
		z-index:4;

		
	}

	.react-geocoder-item{
		width:30rem;
		padding-top: 1rem;
		

	}
	// Radius Input
	.radius-input {
		width: 8.4rem;
		height: 5rem;
		background: #ffffff;
		border-radius: 3px;
		position: absolute;
		top: 12.8rem;
		left: 33rem;
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 2.5rem;
		display: flex;
		align-items: center;
		margin-left: 1.4rem;
		padding-left: 1rem;

		@media (max-width: $mq-mobile) {
			position: absolute;
			width: 61.53px;
			height: 42px;
			left: 315px;
			top: 118px;
			background: #ffffff;
			border-radius: 3px;
			margin-top: 0;
		}

		&::placeholder {
			font-family: "Open Sans";
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 27px;
			display: flex;
			align-items: center;
			color: #a9a9a9;
			padding-left: 17px;
		}

		&::-moz-placeholder {
			line-height: 4.5rem;
		}
	}
}
