.form-btn {
    height: 38px;
    width: 150px;
    margin: 25px 0px 5px;
    border-radius: 5px;
    background-color: $accentColor;
    color: $lilia;
    font-size: 1em;
    border: solid 1px black;
    cursor: pointer;

    &:hover {
        color: $accentColor;
        background-color: $lilia;
        @include easeOut;
    }
}