// Map Form Container
.map-form-container {
  position: absolute;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;

  @media (max-device-width: $mq-mobile) {
    padding-left: 1.5rem;
  }

  //map form text
  .map-form-text {
    color: white;
    font-size: 1.4rem;

    @media (max-device-width: $mq-tablet) {
      height: 1.6rem;
      font-size: 1.4rem;
    }

    @media (max-device-width: $mq-mobile) {
      height: 1.6rem;
      font-size: 1rem;
      width: 30rem;
    }
  }

  .signup-form-text {
    color: white;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 57.9rem;
    left: 6.6rem;
    width: 40rem;

    @media (max-device-width: $mq-mobile) {
      font-size: 1.3rem;
      position: absolute;
      top: 61.5rem;
      left: 6rem;
    }
  }

  // Address Input
  .address-input {
    &::placeholder {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      line-height: 2.7rem;
      display: flex;
      align-items: center;
      color: black;
      padding-left: 1.7rem;
    }

    &::-moz-placeholder {
      line-height: 4.5rem;
    }
  }

  .react-geocoder {
    width: 30rem;
    height: 5rem;
    background: #ffffff;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.7rem;
    display: flex;
    align-items: center;
    //padding-left: 1.7rem;
    &::placeholder {
      font-size: 2rem;
      line-height: 2.7rem;
      display: flex;
      align-items: center;
      color: black;
      padding-left: 1.7rem;
    }

    &::-moz-placeholder {
      line-height: 4.5rem;
    }
    input {
      width: 28rem;
      margin-left: 0.5rem;
      font-size: 2rem;
      line-height: 2.7rem;
      display: flex;
      align-items: center;
    }

    @media (max-device-width: $mq-mobile) {
      width: 22rem;
      height: 4rem;
      left: 2rem;
      top: 11.8rem;
      background: #ffffff;
      border-radius: 3px;

      input {
        width: 19rem;
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  .react-geocoder-results {
    border-top: 0.8px solid #000000;
    background: white;
    width: 28.5rem;
    box-sizing: border-box;
    height: auto;
    top: 4.8rem;
    position: absolute;
    padding: 1rem 0.8rem;
    font-size: 1.6rem;

    @media (max-device-width: $mq-mobile) {
      width: 20rem;
      top: 3.4rem;
      position: absolute;
    }
  }

  .react-geocoder-item {
    width: 30rem;
    padding-top: 0.5rem;

    @media (max-device-width: $mq-mobile) {
      width: 24rem;
      font-size: 1.4rem;
    }
  }

  // Radius Input
  .radius-input {
    width: 8.4rem;
    height: 5rem;
    background: #ffffff;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding-left: 1rem;

    @media (max-device-width: $mq-mobile) {
      width: 5rem;
      height: 4rem;
      background: #ffffff;
      border-radius: 3px;
      margin-top: 0;
    }

    &::placeholder {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      line-height: 2.7rem;
      display: flex;
      align-items: center;
      color: #a9a9a9;
      padding-left: 1.7rem;

      @media (max-device-width: $mq-mobile) {
        font-size: 1.6rem;
        padding: 0;
      }
    }

    &::-moz-placeholder {
      line-height: 4.5rem;
    }
  }
}
