.login-page-container {
  position: absolute;
  width: 55rem;
  top: 5rem;
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 2px;
  flex-direction: column;

  @media (max-width: $mq-tablet) {
  }

  @media (max-device-width: $mq-mobile) {
    flex-direction: column;
    position: absolute;
    width: 33rem;
    height: 40rem;
    left: -2rem;
    top: 2.5rem;
    background: #ffffff;
    border-radius: 1px;
  }

  .input-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 46rem;

    label {
      height: 22px;
      font-size: 16px;
      line-height: 22px;
      font-style: normal;
      font-weight: normal;

      &:last-child {
        padding-top: 20px;
      }

      @media (max-device-width: $mq-mobile) {
        // width: 239px;
        // height: 38px;
        font-size: 14px;
        line-height: 19px;
      }
    }

    .forgot-pw {
      align-self: center;

      button {
        background-color: white;
        width: 13.7rem;
        height: 19px;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        color: #adadad;
        padding-left: 0;
        margin: 0 auto;
      }
    }
  }

  .create-an-account {
    margin-left: 5px;
    color: #70c0f1;
    background-color: white;
  }
}
