.legend-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1px;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  z-index: 5;
  width: 20rem;
  padding: 1rem;

  @media (max-device-width: $mq-mobile) {
    position: absolute;
    bottom: 27.5%;
    left: 22.13%;
    z-index: 5;
    width: 17rem;
  }

    .fa-info-circle {
        margin-left: 10px;
    }

    .legend-item {
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .legend-text {
            margin: 10px;
        }
    }

    .legend-info {
        width: 90%;
        margin: 10px auto;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 300;
    }
}