.legend-container {
    width: 250px;
    height: auto;
    position: absolute;
    right: 0;
    margin: 75px 25px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    z-index: 10;
    color: white;

    .legend-item {
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .legend-text {
            margin: 15px;
        }
    }

    .legend-info {
        width: 90%;
        margin: 10px auto;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 300;
    }
}