.legend-container {
  background: #262626;
  border-radius: 1px;
  width: 20rem;
  padding: 1rem;

  .legend-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 12px;

    .legend-title {
      color: #e0e0e0;
      font-size: 1.8rem;
      text-align: center;
      padding: 10px;
      margin: 0 10px 0 0;
    }
  }

  .legend-item {
    width: 90%;
    margin: 3px auto;
    display: flex;

    .legend-text {
      color: #e0e0e0;
      padding-left: 10px;
      font-size: 1.3rem;
      margin: 7px 0 7px 5px;
    }
  }

  .legend-info {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 300;
  }
}
