// Mobile View Media Query Mixin

@include mediaSm {
        // Navigation Bar
        .nav-container {
            background-image: linear-gradient(to bottom, #355C7D, #F67280 60%);
            flex-direction: row;
            height: 125px;
            width: 100%;
        }
    
        // Hamburger Bar
        .hamburger-menu {
            padding: 0;
            width: auto;
        }
    
        // Forms
        .form-btn {
            position: absolute;
            top: 40px;
            width: 200px;
        }
        
        .info-text {
            font-size: 0.7em;
            position: absolute;
            top: 110px;
            left: 65px;
            text-decoration: none;
        }
}

// Medium to Large Media Screens

@include mediaMd {
    .nav-container {
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        width: 100px;
    }

    .hamburger-menu {
        padding: 0;
        width: auto;

      .burger-bar {
        display: none;
      }
    }

    .menu-container {
        background-color: transparent;
        position: static;
        right: auto;
        margin: auto;
        text-align: center;

        .menu-item {
            padding: auto;
            width: 80px;

            img {
                display: block;
            }
        }
    }
}

