.model-wrapper {
  background-color: $lilia;
  border-radius: 8px;
  border: none;
  // need to center modal on page
  margin: 50px auto 0;
  transition: all 0.8s;
  max-width: 700px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
