.nav-container {
	width: 100%;
	height: 40px;
	background-color: $orange;
	display: flex;
	border-bottom: 1px solid $grey;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: $black;
	color: white;
	// padding: 30px;

	@media (max-width: $mq-mobile) {
		height: 0;
		width: 100%;
	}


	.menu-item {
		color: #fff;
		cursor: pointer;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		padding: 10px;
		padding: auto;
		width: 80px;

		&:hover {
			background-color: lightgrey;
			color: #355c7d;
		}
	}
}
