.password-reset-container {
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 2px;
  flex-direction: column;

  @media (max-width: $mq-mobile) {
    flex-direction: column;
    position: absolute;
    width: 33rem;
    height: 35.4rem;
    left: 8.5rem;
    top: 12.5rem;
    background: #ffffff;
    border-radius: 1px;
  }
}
