.public-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10rem;
  right: 43.5rem;
  z-index: 2;

  @media (max-device-width: $mq-mobile) {
    top: 7rem;
    right: 36.2rem;
  }

  .checkbox-wrapper {
    position: relative;

    .checkbox-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 42px;
      height: 26px;
      border-radius: 15px;
      background: #bebebe;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin: 3px;
        background: #ffffff;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
      }
    }
  }
  .save-location-btn {
    margin-bottom: 6px;
    margin-top: 3px;
    color: #66bbf0;
    background-color: black;
  }

  .delete-location-btn {
    margin-top: 6px;
  }

}

.save-location-modal {
  display: flex;
  flex-direction: column;
}

.fire-button {
  position: absolute;
  left: 50%;
  top: 50%;
}
.aqi-button {
  position: absolute;
  left: 60%;
  top: 50%;
}
