.login-page-container.register-page-container {
  max-width: 800px;
  height: auto;

  @media (max-device-width: $mq-mobile) {
    flex-direction: column;
    position: absolute;
    width: 34rem;
    height: auto;
    left: -2rem;
    top: 2.5rem;
    background: #ffffff;
    border-radius: 1px;
  }
}

.default-btn.register-btn {
  font-size: 1.2rem;
}
