// Media Queries

// < 576 (mobile)
// 576 - 900 (tablet)
// > 900 (
@mixin mediaSm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin mediaMd {
  @media (min-width: 577px) {
    @content;
  }
}

@mixin mediaLg {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Media queries
$mq-mobile: 600px;
$mq-tablet: 800px;
$mq-desktop: 1000px;

// Fonts
$header: Noto Sans KR, sans-serif;
$content: Noto Sans, sans-serif;

// Colors
$orange: #fc8d43;
