// Media Queries
@mixin mediaSm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin mediaMd {
  @media (min-width: 577px) {
    @content;
  }
}

@mixin mediaLg {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Media queries
$mq-mobile: 576px;
$mq-desktop: 1680px;

// Fonts
$header: Noto Sans KR, sans-serif;
$content: Arial, Helvetica, sans-serif;

// Background Colors
$cardBgColor: #373d3f;

// Colors
// Labs 15
$accentColor: #355c7d;
$accentColorTransparency: "rgba(53, 95, 125, .75)";
$raven: #373d3f;
$ruby: #c02f1d;
$lilia: #f2f3f4;

// Labs 17
$orange: #fc8d43;

// Misc
$cardDropShadow: "box-shadow: 0 3px 4px #000";
$inputFormColor: #6a859c;
