// Variables / Mixins
@import "vars";

// Components
@import "navigation";
@import "login";
@import "auth-forms";
@import "forms";
@import "buttons";
@import "map-legend";
@import "model";
@import "model-splits";
@import "dashboard";

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
p {
  font-family: $content;
  font-weight: bold;
}

.form-heading {
  // font-family: $header;
  // font-weight: 500;

  width: 245px;
  height: 49px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.forgot-pw {
  color: black;
  font-size: 0.75em;
  position: relative;
  top: 35px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.form-text {
  color: black;
  font-size: 0.9em;
  font-weight: 300;
}

.info-text {
  font-size: 0.9em;
  text-align: center;
}

// Mobile View Import
@import "mobile";
