// Variables / Mixins
@import "vars";

// Components
@import "buttons";
@import "model";
@import "model-splits";

html, body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

.form-heading {
  color: #f2f3f4;
  font-weight: 500;
}

.form-text {
  color: #f2f3f4;
  font-size: 0.9em;
  font-weight: 300;
}

.fb-login-button {
  margin-bottom: 30px;
}